.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    width: 135px;
    height: 120px;
    margin: 0 auto;
    border-radius: 10px;
}

.card-title {
    text-align: center;
}

.btn a {
    color: white;
    text-decoration: none;
}

.btn:hover a {
    text-decoration: underline;
}

.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}